# .env file used by load_dotenv to insert environment variables in the jupter environment
# copy example.env to .env

# Required for model usage
OPENAI_API_KEY="your-openai-api-key-here"

# Optional: For evaluation and tracing
LANGSMITH_API_KEY="your-langsmith-api-key-here"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="langgraph-agents-pyday-bcn"

# Optional: For Tavily Web Search Tool API access
TAVILY_API_KEY="your-tavily-api-key-here"

# Optional: Custom User Agent for HTTP requests and web searching
USER_AGENT="MyCustomAgent/1.0"
